<!--link rel="stylesheet" href="/styles/privacy.css"-->
<form id="updatePrivacy">
	<div id="text">
		<h3>Change Privacy Settings</h3>
	</div>
	<div id="toggle">
		<input type="checkbox" id="checkboxToggle">
	</div>
	<div id="button">
		<button id="privacySubmit" type="submit">I'm Finished</button>
	</div>
</form>

<script src="/scripts/privacy_page.js"></script>
