
<div class="row">
    <h3>My Profile</h3>
    <div class="list-group">
        <div class="list-group-item">
        <form>
		<h4>Please Fill Out Your Profile:</h4>
		<label for="weight">Enter weight: </label>
    		<input id="weight" type="number" name="weight_field">
		<br>
		<label for="height_feet">Enter Height: feet: </label>
		<input id="height_feet" type="number" name="height_feet" value="feet">

		<label for="height_inches">inches:</label>
		<input id="height_inches" type="number" name="height_inches" value="inches">
		<br>

		<label for="experience">Enter Experience Level: </label>

		
  			<select name="experience">
    			<option value="novice">Novice</option>
    			<option value="Intermediate">Intermediate</option>
    			<option value="Expert">Expert</option>
  			</select>
  			<br><br>

    		<input type="submit" value="Submit">
		</form>
	  </div>
    </div>
</div>
