<div class="row">
    <h3>My Profile</h3>
    <div class="list-group">
        <div class="list-group-item">
            <a href="/changepassword">Change Your Password</a>
        </div>
    </div>
</div>