
<div class="row">
    <h3>My Profile</h3>
    <div class="list-group">
        <div class="list-group-item">
        
		<label for="weight">Enter weight: </label>
    		<input id="weight" type="number" name="weight_field" value="150">

		<label for="height">Enter Height: </label>
		<input id="height" type="number" name="height_field" value="6">

		<label for="experience">Enter Experience Level: </label>
		<input id="experience" type="text" name="experience_field" value="novice">


    		<input type="submit" value="OK">
		</form>
	  </div>
    </div>
</div>
