<div class="row">
    <div class="jumbotron text-center"><h1>Welcome to Hiking Buddy!</h1></div>
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <div class="btn-group" role="group">
            <a href="/registration" class="btn btn-success">Register</a>
            <a href="/login" class="btn btn-primary">Log In</a>
        </div>
    </div>
    <div>
        <img id="welcomeSplash" src="/images/hb_welcome.jpg" alt="Hiking Buddy" class="img-responsive">
    </div>
</div>
